@import "tailwindcss";

@theme {
  --color-primary: #4FA64F;
  --color-darkGreen: #2F7A3E;
  --color-lightGreen: #E8F5E9;
}

@layer utilities {
  .glass {
    background-color: rgb(255 255 255 / 0.7);
    backdrop-filter: blur(12px);
    border: 1px solid rgb(255 255 255 / 0.2);
  }
}
